body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-div {
    display: flex;
    justify-content: space-between;

}

.results {
    display: none;
}